#hero {
  height: 300px;
  background-color: #2274a5;
  color: #e9f1f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  text-align: center;
}

main {
  padding-top: 30px;
}

th img {
  max-width: 100px;
  min-width: 50px;
}

.img-col {
  max-width: 100px;
  min-width: 50px;
}

.btn-group a {
  width: 100px;
}

/* responsive */
